name: veriff_flutter_plugin_web
description: "A Flutter plugin for Veriff integration (Web)."
version: 0.0.1
homepage:

environment:
  sdk: ^3.10.3
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  url_launcher: ^6.3.2
  veriff_flutter_plugin_platform_interface:
    path: ../veriff_flutter_plugin_platform_interface
  web: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: VeriffFlutterPluginWeb
        fileName: veriff_flutter_plugin_web.dart